HistoryLog/
*.csv
nohup.out
core*
HistoryLog
HistoryLog/Go/checkpoint/checkpoint_0*
HistoryLog/Go/checkpoint/checkpoint*
*.pyc
.DS_Store
sbatch_script.sh
#*.ipynb
.ipy*
/temp/
/.project
sbatch.sh
slur*
/.pydevprojectgit
logs
.idea
sensitive.yaml
engine.spec
model.tar
build
dist